rds-manager/src/main/resources/xsd/CurrentSong.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.station-millenium.com/CurrentTitle" xmlns:tns="http://www.station-millenium.com/CurrentTitle" elementFormDefault="qualified">
	<element name="currentSong">
		<complexType>
			<all>				
				<element name="artist" type="string" minOccurs="0" maxOccurs="1" />
				<element name="title" type="string" minOccurs="0" maxOccurs="1" />
				<element name="playedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
			</all>
			<attribute name="available" type="boolean" />
		</complexType>
	</element>
</schema>